body {
  background-image: url('/Images/legal pad.jpeg');
  background-size: cover;
  height: 100vh;
}

.card {
  /* position: relative; */
  display: flex;
  align-items: Center;
  /* justify-content: center; */
  /* margin-top: 27%; */
  margin-left: 33%; 
}

.card h1 {
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 24px;
  margin-right: 25px;
  margin-top: 0%;
  margin-bottom: 1%;
}

.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #333;
  color: #fff;
}

.menu-bar .todo-form {
  display: flex;
  align-items: center;
}

.menu-bar .todo-form input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  border: none;
}

.menu-bar .todo-form button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.menu-bar .todo-form button:hover {
  background-color: #0056b3;
}

.menu-bar .todo-form button:focus {
  outline: none;
}

.menu-bar .todo-form button:active {
  transform: translateY(1px);
}

.date-component {
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 32px;
  margin-top: 13.5%;
  margin-left: 33%;
  margin-bottom: 4%;
  /* margin-bottom: 0px;
  padding-bottom: 10%; */
}






